<div class="flex flex-col mb-16 px-2 sm:px-4">
  <h2 class="hidden sm:block text-center text-4xl text-gray-700 font-medium pt-4">Frequently Asked Questions</h2>
  <h2 class="sm:hidden text-center text-4xl text-gray-700 font-medium pt-4">FAQ's</h2>
  <hr class="w-48 h-1 mx-auto my-4 bg-primary border-0 rounded-sm">

  <% if current_user.super_user? %>
    <div class="self-end pb-3 pr-6">
      <%= link_to_button("New", new_faq_path) %>
    </div>

  <% end %>
  <%= render @faqs %>

</div>
