<footer class="bg-primary text-white py-4 mt-24">
  <div class="container mx-auto text-center">
    <ul class="row">
      <li>
        <dt>Contact Us</dt>
        <dd><%= Footer.phone %></dd>
        <dd><%= Footer.general_questions %></dd>
      </li>
    </ul>
    <p class="pt-4 text-lg text-white">A Window Between Worlds ® ™</p>
  </div>
</footer>